.wrapper {
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  position: relative;
  max-width: 100%;
  height: 2rem;
  border-radius: 0.6rem 0.6rem 0 0;
  box-shadow: inset #f5f5f5 0px 2px 1px, inset #d5d5d5 0 -2px 2px;
  user-select: none;
  /* cursor: move; */
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(200, 200, 200, 1) 100%
  );
  border: 1px solid rgba(0, 0, 0, 0.2);
}
